{% extends 'base.html' %}
{% block content %}
    <div id="content-container" class="container p-none">
        <div class="side-p jumbotron">
            <h3>Вы уверены?</h3>
            <p>Вы собираетесь удалить {{ object.title }}. Подтвердите.</p>
            <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-link"
                       type="button" value="Отменить"
                       onclick="window.history.go(-1);"/>
                <input class="btn btn-danger" type="submit" value="Подтвердить"/>
            </form>
        </div>
    </div>
{% endblock %}