{% extends "base.html" %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container jumbotron">
        <div class="row">
            <h1 class="col-md-6">Новая книга:</h1>
            <form action="{% url "book_exchanger:add_book" %}" method="post" class="col-md-12">
                {% csrf_token %}
                <div class="form-group col-md-6 mb-0">
                    {{ form.title|as_crispy_field }}<br>
                    {% for error in form.title.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.author|as_crispy_field }}<br>
                    {% for error in form.author.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6 mb-0">
                    <button type="submit" class="btn btn-outline-success">Добавить</button>
                </div>
                {% if message %}
                    <div class="alert-danger">
                        {{ message }}
                    </div>
                {% endif %}
                    <div class="alert-danger">
                        {{ form.errors }}
                    </div>
            </form>
        </div>
    </div>
{% endblock %}