<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href=" {% static "css/styles.css" %}">
    <title>{{ title }}</title>
    {% if request.user.is_authenticated %}
    <style>
        body {
            background-image: url("{% static "css/books.jpg"%}");
        }
    </style>
    {% endif %}
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        {% if request.user.is_authenticated %}
            <a class="navbar-brand" href="{% url "book_exchanger:profile" %}">{{ request.user.username }}</a>
        {% else %}
            <a class="navbar-brand" href="/">BookExchanger</a>
        {% endif %}
        {% if request.user.is_authenticated %}
            <div class="btn-group" role="group">
            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Заявки
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url "book_exchanger:outcoming" %}">Исходящие</a>
                    <a class="dropdown-item" href="{% url "book_exchanger:incoming" %}">Входящие</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Книги
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url "book_exchanger:my_books" %}">Мои книги</a>
                    <div class="dropdown-divider"></div>
                    <form class="dropdown-item form-inline" action="{% url "book_exchanger:search" %}" method="POST">
                        {% csrf_token %}
                        <input class="search-field form-control form-control-md" maxlength=50 type="search" placeholder="Search" aria-label="Search" name="q">
                    </form>

                </div>
            </div>
            <a class="btn btn-outline-dark " href="{% url "reviews:all" %}">Обзоры </a>
            <a class="btn btn-outline-danger " href="{% url "book_exchanger:logout" %}">Выйти</a>
        {% else %}
            <p>
                <a class="btn btn-outline-dark " href="{% url "reviews:all" %}">Обзоры </a>
                <a class="btn btn-outline-primary " href="{% url "book_exchanger:signup" %}">Зарегистрироваться</a>
                <a class="btn btn-outline-success" href="{% url "book_exchanger:login" %}">Войти</a>
            </p>
        {% endif %}
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer class="footer">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <span class="text-muted nav-link">Book Exchanger 2020 (c). Все права защищены.</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://vk.com/knaxi">Обратная связь</a>
            </li>
            <li class="nav-item">
                <span class="text-muted nav-link">Лицензия MIT/X11.</span>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>