{% extends 'base.html' %}
{% block content %}
{% for review in book_review_list %}
    <div class="container jumbotron">
        <h3>{{ title }}</h3>
        <h4>Обзор на книгу:  "{{ review.book.title }}"</h4>
        {{ description }}
        <h3>Автор:  {{ review.author.nickname }}</h3>
    </div>
{% endfor %}

{% endblock %}