{% extends "base.html" %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <h1 class="col-md-6">Редактирование профиля</h1>
            <form action="{% url "book_exchanger:edit_profile" %}" method="post" class="col-md-12">
                {% csrf_token %}
                <div class="form-group col-md-6 mb-0">
                    {{ form.name|as_crispy_field }}<br>
                    {% for error in form.name.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.surname|as_crispy_field }}<br>
                    {% for error in form.surname.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.bio|as_crispy_field }}<br>
                    {% for error in form.bio.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6 mb-0">
                    <button type="submit" class="btn btn-outline-success">Сохранить</button>
                </div>
                {% if message %}
                    <div class="alert-danger">
                        {{ message }}
                    </div>
                {% endif %}
                    <div class="alert-danger">
                        {{ form.errors }}
                    </div>
            </form>
        </div>
    </div>
{% endblock %}