{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron justify-content-center">
        <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="{{ error }}">
            Что случилось?</button>
    </div>
{% endblock %}