{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
    <ul class="list-group">
        {% for request in requests %}
        <li class="list-group">{{ request.requestant.username}}
            <br>Email: {{ request.requestant.email }}
            <br>Статус: {{ request.status }}</li>
            {% if request.status == "На рассмотрении" %}
            <a class="btn-outline-danger" href="{% url 'book_exchanger:decline_request' request.id %}">Отклонить</a>
            <a class="btn-outline-success" href="{% url 'book_exchanger:approve_request' request.id %}">Одобрить</a>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
{% endblock %}