{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Приветствуем в Book Exchanger!</h1>
        <p class="lead">Наш проект призван упростить обмен книгами между незнакомыми людьми.</p>
        <hr class="my-4">
        <a class="btn btn-outline-dark btn-lg" href="http://vk.com/book_exchanger" role="button">Подробнее о нас в ВК</a>
    </div>
{% endblock %}