{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div class="justify-content-center">
        {% for instance in books %}
            <div class="card" style="width: 18rem;">
                <img src="{% static 'css/icon.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ instance.book.title }}</h5>
                    <p class="card-text">За
                        авторством: {{ instance.book.author.name }} {{ instance.book.author.surname }}</p>
                    <a href="{% url "book_exchanger:book_delete" instance.id %}" class="btn btn-primary">Удалить</a>
                    <a href="{% url 'reviews:add_review' instance.book.id %}" class="btn btn-primary">Написать обзор</a>
                </div>
            </div>
        {% endfor %}
        <div>
            <a class="btn btn-primary" href="{% url "book_exchanger:add_book" %}">Добавить книгу</a>
        </div>
    </div>
{% endblock %}