{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
    <ul class="list-group">
        {% for request in requests %}
        <li class="list-group">{{ request.owner.username}}
            <br> Статус: {{ request.status }}</li>
            {% if request.status == "На оформлении" %}
            <a class="btn-outline-success" href="{% url 'book_exchanger:process_request' request.id %}">Оформить</a>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
{% endblock %}