{% extends 'base.html' %}
{% block content %}
    {% for instance in instances %}
        <div class="justify-content-center">
            <h1>Данная книга есть у:</h1>
            <div class="list-group">
                <a href="{% url 'book_exchanger:request_book_instance' instance.id %}" class="list-group-item list-group-item-action">{{ instance.owner.username }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}