{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="container jumbotron">
        <h1>Вот что мы знаем о Вас:</h1>
        Имя: {{ request.user.profile.name }}
        Фамилия: {{ request.user.profile.surname }}
        О себе: {{ request.user.profile.bio }}
        <a class="btn-outline-success" href="{% url "book_exchanger:edit_profile" %}">Изменить профиль</a>
    </div>
{% endblock %}