{% extends "base.html" %}

{% block content %}

    {% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <h1 class="col-md-6">Регистрация</h1>
            <form action="{% url "book_exchanger:signup" %}" method="post" class="col-md-12">
                {% csrf_token %}
                <div class="form-group col-md-6 mb-0">
                    {{ form.email|as_crispy_field }}<br>
                    {% for error in form.email.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.username|as_crispy_field }}<br>
                    {% for error in form.username.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.password|as_crispy_field }}<br>
                    {% for error in form.password.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.password_again|as_crispy_field }}<br>
                    {% for error in form.password_again.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6 mb-0">
                    <button type="submit" class="btn btn-outline-success">Регистрация</button>
                </div>
                {{ message }}
            </form>
        </div>
    </div>
{% endblock %}