
{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% for book in books %}
        <div class="card" style="width: 18rem;">
            <img src="{% static "css/icon.png" %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">Книга за авторством: {{ book.author.name }} {{ book.author.surname }}</p>
                <a href="{% url "book_exchanger:get_book_owners" book.id %}" class="btn btn-primary">Просмотреть владельцев</a>
                <a href="{% url "book_exchanger:add_book_instance" book.id%}" class="btn btn-primary">У меня тоже есть</a>
                <a href="{% url "reviews:add_review" %}" class="btn btn-primary">Написать отзыв</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}